/* * {
    margin: 0;
    padding: 0;
} */
/* .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
} */
#info {
	position: absolute;
    /* width: 100;
    height: 100; */
	top: 10%;
	left: 80%;
	z-index: 100;
    color: rgb(255, 0, 0);
    font-size: 55px;
}